<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header></header>
    <!-- Add your EJS code here -->
    <table>
     <thead>
      <tr>
        <th>Short</th><th>Long</th>
      </tr>
      </thead>
      <tbody>
        <% for(var urlKey in urls) { %>
        <form method="POST" action="/urls/<%= urlKey %>/delete">
          <tr>
            <td><%= urlKey %></td>
            <td> <%= urls[urlKey]%> </td>
            <td><input type="submit" value="delete"></td>
          </tr>
         </form>
        <% } %>
      </tbody>
    </table>
</body>
</html>